.ui-table-columntoggle-btn {
	display: none !important;
}

.mytext {
	color: #736357;
	font-weight: 800;
}

.mytext2 {
	color: #006837;
	font-weight: 800;
}

.mytext3 {
	color: #00a99d;
	font-weight: 800;
}

.mytext4 {
	color: #333300;
	font-weight: 800;
}

.mytext5 {
	color: #660066;
	font-weight: 800;
}

.mytext6 {
	color: #996600;
	font-weight: 800;
}