.mytext {
	color: #736357;
	font-weight: 800;
	font-size: 25px;
}

.mytext2 {
	color: #006837;
	font-weight: 800;
	font-size: 25px;
}

.mytext3 {
	color: #00a99d;
	font-weight: 800;
	font-size: 25px;
}